<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.getting_started__1.1.hello_window.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>1.getting_started__1.2.hello_window_clear.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>1.getting_started__2.1.hello_triangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>1.getting_started__2.2.hello_triangle_indexed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>1.getting_started__2.3.hello_triangle_exercise1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1.getting_started__2.4.hello_triangle_exercise2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1.getting_started__2.5.hello_triangle_exercise3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1.getting_started__3.1.shaders_uniform.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>1.getting_started__3.2.shaders_interpolation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>1.getting_started__3.3.shaders_class.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>1.getting_started__4.1.textures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>1.getting_started__4.2.textures_combined.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>1.getting_started__4.4.textures_exercise2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>1.getting_started__4.5.textures_exercise3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>1.getting_started__4.6.textures_exercise4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>1.getting_started__5.1.transformations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>1.getting_started__5.2.transformations_exercise2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>1.getting_started__6.1.coordinate_systems.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>1.getting_started__6.2.coordinate_systems_depth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>1.getting_started__6.3.coordinate_systems_multiple.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>1.getting_started__7.1.camera_circle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>1.getting_started__7.2.camera_keyboard_dt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>1.getting_started__7.3.camera_mouse_zoom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>1.getting_started__7.4.camera_class.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>2.lighting__1.colors.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>2.lighting__2.1.basic_lighting_diffuse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>2.lighting__2.2.basic_lighting_specular.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>2.lighting__3.1.materials.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>2.lighting__3.2.materials_exercise1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>2.lighting__4.1.lighting_maps_diffuse_map.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>2.lighting__4.2.lighting_maps_specular_map.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>2.lighting__4.4.lighting_maps_exercise4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>2.lighting__5.1.light_casters_directional.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>2.lighting__5.2.light_casters_point.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>2.lighting__5.3.light_casters_spot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>2.lighting__5.4.light_casters_spot_soft.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>2.lighting__6.multiple_lights.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>3.model_loading__1.model_loading.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>4.advanced_opengl__1.1.depth_testing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>4.advanced_opengl__1.2.depth_testing_view.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>4.advanced_opengl__10.1.instancing_quads.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>4.advanced_opengl__10.2.asteroids.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>4.advanced_opengl__10.3.asteroids_instanced.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>4.advanced_opengl__11.1.anti_aliasing_msaa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>4.advanced_opengl__11.2.anti_aliasing_offscreen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>4.advanced_opengl__2.stencil_testing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>4.advanced_opengl__3.1.blending_discard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>4.advanced_opengl__3.2.blending_sort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>4.advanced_opengl__5.1.framebuffers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>4.advanced_opengl__5.2.framebuffers_exercise1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>4.advanced_opengl__6.1.cubemaps_skybox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>4.advanced_opengl__6.2.cubemaps_environment_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>4.advanced_opengl__8.advanced_glsl_ubo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>4.advanced_opengl__9.1.geometry_shader_houses.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>4.advanced_opengl__9.2.geometry_shader_exploding.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>4.advanced_opengl__9.3.geometry_shader_normals.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>5.advanced_lighting__1.advanced_lighting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>5.advanced_lighting__2.gamma_correction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>5.advanced_lighting__3.1.1.shadow_mapping_depth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>5.advanced_lighting__3.1.2.shadow_mapping_base.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>5.advanced_lighting__3.1.3.shadow_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>5.advanced_lighting__3.2.1.point_shadows.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>5.advanced_lighting__3.2.2.point_shadows_soft.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>5.advanced_lighting__4.normal_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>5.advanced_lighting__5.1.parallax_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>5.advanced_lighting__5.2.steep_parallax_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>5.advanced_lighting__5.3.parallax_occlusion_mapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>5.advanced_lighting__6.hdr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>5.advanced_lighting__7.bloom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>5.advanced_lighting__8.1.deferred_shading.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>5.advanced_lighting__8.2.deferred_shading_volumes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>5.advanced_lighting__9.ssao.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>6.pbr__1.1.lighting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>6.pbr__1.2.lighting_textured.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>6.pbr__2.1.1.ibl_irradiance_conversion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>6.pbr__2.1.2.ibl_irradiance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>6.pbr__2.2.1.ibl_specular.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>6.pbr__2.2.2.ibl_specular_textured.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>7.in_practice__1.debugging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>7.in_practice__2.text_rendering.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>8.guest_2020_oit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>8.guest_2020_skeletal_animation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>8.guest_2021_1.scene_1.scene_graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>8.guest_2021_1.scene_2.frustum_culling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>8.guest_2021_2.csm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>8.guest_2021_4.dsa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>8.guest_2022_5.computeshader_helloworld.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>8.guest_2022_6.physically_based_bloom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>ALL_BUILD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GLAD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>STB_IMAGE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>quick_test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00781A64C8F740EE922505AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03480707C4F64BBDA3718F34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0597ABF39A234AACACE5BDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0672BBA4DE074BC6BAD8FADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079AF19028014B32A2E913AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BD4FD87C2E9449D9643C49D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F932649071A4E1F90CA9C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FFA7B2274F444789314C316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BCAED3BA9E146EDA50F9B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2F4CF317874DCFAE3296D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1422EF9F7E4B08B58E3280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30CFF0832C7A4E89858C2ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F41A8D5218432ABB5340AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CFC0DFA1AAE4286AF3DE45F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D2794ED336C4BBEA191BE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A828BC974941A68ECBCCE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F8D016160E4978B3E497B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482D0761E3ED4A1C8148BB15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D164F8F297F4E728DB5D911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54AD9F9F934B48B4B874F57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5663E95142E24EFE89C33E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4F6BE5F6A440E7A031EE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C08B4036E5547FB909C8E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E03415028521DF4008FC498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62991711769C47E1A77CF470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62AAC95ACB7D46A6975168C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6398E35E82444DBF813FBE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D631A9BC6C468CA213CD81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655000EDB77B42AD8E795309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68CE8EB19E3B401BBCB44B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B9DDE17C869424DB81ECDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC88E46B8C14ED3A5609B76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F0E4C2C103A46ECAFABF66B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E1A2AEADF04126951EFAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F101E3452E417EB985908C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E8CC64F0E14D2CADE2B7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CB0D8E47A4246DEBDE3893C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F15021EC1B4E82A653CDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8418BBA5B07F4B24BB2BC2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EC9945007748669B28710C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85418E3DC2C84EE0A2AA843A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8730922E0C4B440FB8E84D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87DC46C97D704FC09E1457DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E5B2085B4B43EBAAB6EEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93EC3D771D534C22A4B7313F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>957F603A70344EA89666487D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970369B2D9CE4898B4D6A26E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>984AB504C8A24BF299878136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B7AD5054A0D4BBA9919DF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4F401CDF404D53B3566DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00C47853BEA448BA8AB515F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01DDFEF48E940568EADF6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A8D026526D4C88B5AEF400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1408466C3C94A539FD00B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30EEBFAD1BD4D6A8BD124BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A41EC59F08E54F54A69DA09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58FE1FD8FAB407E8DE00D92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE05D00E54140EBA06DFEDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1DB7D0297DF4CC09F0E9B0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30B998ACFEA4A29BC882ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F76DB076F144D5AF34BF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55BBD22F6124E48BB92C3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5A052AE062C413C8E49F84F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94AD39FA64645A499B0D5C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC5625DE5B4C4BCAA0CCA25E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF413B7E20F24049AD955446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1197B3DAC4442E9B5E9EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CC38D35D2B4E33AA00DC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F4B55A68FF46BBB077BDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6D22791E08D47688754AFDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D70970DD167D46FB853DC257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D957619021054495B624D375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD19C7F7CD04E02AE3E262D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27E7EF731B14709B9520151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E634AD71B9E14ACFA9719990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E83CF13BABEA4CF68A273F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99A5454D4B14CCF9517DEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA800B25D6B94C3CAAF3C497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB22F8AD2E23403787BD8A2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5E920A481C4817A511611D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD42BF818324ECABC089AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F10E5BCF3145416E8DA29B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A58B372908420885081BBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54655E98A894BE188A46084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEF2E03C62544473BC7E54E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
